.div1{
    width: 300px;
    background-color: red;
    margin: 20px;

}
.div2{
    width: 300px;
    background-color:green;
    margin: 20px;

}
.div3{
    width: 300px;
    background-color: blue;
    margin: 20px;

}
.div4{
    width: 300px;
    background-color: red;
    margin: 20px;

}
.div5{
    width: 300px;
    background-color:green;
    margin: 20px;

}
.div6{
    width: 300px;
    background-color:blue;
    margin: 20px;

}
.div7{
    width: 300px;
    background-color: red;
    margin: 20px;

}
.div8{
    width: 300px;
    background-color:green;
    margin: 20px;

}
.div9{
    width: 300px;
    background-color: blue;
    margin: 20px;

}
